<aside class="warning">
  <% if role == :requestor %>
    Your requests to this endpoint must be signed
  <% else %>
    Requests made to this endpoint must be verified
  <% end %>
   per the <a href="#authentication">authentication section</a>.
</aside>